* {
    box-sizing: border-box;
}

body {
    background-image: url("diceimg/background.jpg");
    background-attachment:fixed;
    background-size: 100% 100%;
    margin:0;
    
}

canvas {
    
   
}

h1 {
    font-family: 'Smokum', cursive;
    font-size: 70px;
    color:rgb(102, 27, 27);
    text-align: center;
    letter-spacing: 1px;
}

form {
    color:beige;
    font-family: serif;
    font-size: 20px;
    
    margin-right: 20px;
}

#first {
    position:absolute;
    bottom:30px;
    float:right;
    padding-left: 50px;
}

#middle {
   
    
    bottom:30px;
}

#last {
    position:absolute;
    right: 0;
    bottom:30px;
    float:right;
    padding-right: 50px;
}

img {
    width:20%;
    height:20%;
}
