* {
    box-sizing: border-box;
}

body {
    background-image: url("diceimg/background.jpg");
    background-attachment:fixed;
    background-size: 100% 100%;
    margin:0;
    
}

canvas {
    opacity: 0.1;
}

h1 {
    font-family: 'Smokum', cursive;
    font-size: 70px;
    color:rgb(102, 27, 27);
    text-align: center;
    letter-spacing: 1px;
}

form {
    color:beige;
    font-family: serif;
    font-size: 20px;
    float:right;
    margin-top: 300px;
    margin-right: 20px;
}
